<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="bg-gris">
    <header class="pageheader">
        <h1 class="logo-header">
            <a href="/" class="nav-li">
                <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            </a>
           
        </h1>
        <div class="box-search">
            
                <input class="input-search" type="text" name="search"
                    placeholder="Buscá productos por nombre, marcas o palabras clave" />
                <button type="submit" class="button-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
          
        </div>

        <p class="header-p-i">
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
            tarjeta de crédito
        </p>

        <nav class="display whidth98">
          
                <ul class="padding-nav display lista">
                    <li><a href="#" class="nav-li">Ofertas</a></li>
                    <li><a href="#" class="nav-li">Tiendas Oficiales</a></li>
                    <li><a href="#" class="nav-li">Vender</a></li>
                    <li><a href="#" class="nav-li">Ayuda</a></li>
                    <li><a href="#" class="nav-li">Ofertas</a></li>
                </ul>
          

          
                <ul class="padding-nav display lista">
                    <li><a href="/register" class="nav-li">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="#" class="nav-li">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#" class="nav-li">Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
           
           
        </nav>

        <div class="div-burger-menu">
            <i class="fa-solid fa-bars burguer-menu"></i>
        </div>


    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner">

    <main class="main">

        <section class="main-section">

            <h2 class="titulares padding"><strong>Basado en tu última visita</strong></h2>

            <article class="product-shadow">
                <img class="img-prod" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="article-block">
                    <p class="precio padding">$6.770</p>
                    <p class="off padding">40% OFF</p>
                    <i class="fa-solid fa-truck logoenvio" id="truck"></i>
                    <p class="description w-100 w-100"><strong>Cafetera moulinex</strong></p>
                </div>
            </article>


            <article class="product-shadow">
                <img class="img-prod" src="/images/img-macbook-pro-2019.jpg" alt="mackbook">
                <div class="article-block">
                    <p class="precio padding">$230.000</p>
                    <p class="off padding"> 20% off</p>
                    <i class="fa-solid fa-truck logoenvio"></i>
                    <p class="description w-100"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>

            <article class="product-shadow">
                <img class="img-prod " src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <div class="article-block">
                    <p class="precio padding">$70.500</p>
                    <p class="off padding">10% OFF</p>
                    <i class="fa-solid fa-truck logoenvio"></i>
                    <p class="description w-100"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>

            <article class="product-shadow">
                <img class="img-prod" src="/images/img-tv-samsung-smart.jpg" alt="smartTv samsung 43'">
                <div class="article-block">
                    <p class="precio padding">$23.200</p>
                    <p class="off padding">5% OFF</p>
                    <i class="fa-solid fa-truck logoenvio"></i>
                    <p class="description w-100"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>

        </section>

        <section class="main-section">

            <h2 class="titulares padding"><strong>Sección de ofertas</strong></h2>

            <article class="product-shadow">
                <img class="img-prod" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="article-block">
                    <p class="precio padding">$6.770</p>
                    <p class="off padding">40% OFF</p>
                    <i class="fa-solid fa-truck logoenvio"></i>
                    <p class="description w-100"><strong>Cafetera moulinex</strong></p>
                </div>
            </article>

            <article class="product-shadow">
                <img class="img-prod" src="/images/img-macbook-pro-2019.jpg" alt="mackbook">
                <div class="article-block">
                    <p class="precio padding">$230.000</p>
                    <p class="off padding"> 20% off</p>
                    <i class="fa-solid fa-truck logoenvio"></i>
                    <p class="description w-100"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>

            <article class="product-shadow">

                <img class="img-prod" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">

                <div class="article-block">
                    <p class="precio padding">$70.500</p>
                    <p class="off padding">10% OFF</p>
                    <i class="fa-solid fa-truck logoenvio"></i>
                    <p class="description w-100"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>

            <article class="product-shadow">
                <img class="img-prod" src="/images/img-tv-samsung-smart.jpg" alt="smartTv samsung 43'">
                <div class="article-block">
                    <p class="precio padding">$23.200</p>
                    <p class="off padding">5% OFF</p>
                    <i class="fa-solid fa-truck logoenvio"></i>
                    <p class="description w-100"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>

        </section>

    </main>
    <footer class="padding ">
        <section class="flex">
            <div>
                <i class="fa-solid fa-credit-card icon-foot"></i>
                <h3 class="desc"><strong> Pagá con tarjeta o en efectivo</strong></h3>
                <p class="foot">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
           <div>
            <i class="fa-solid fa-gift icon-foot"></i>
            <h3 class="desc"><strong> Envío gratis desde $ 2.500</strong></h3>
            <p class="foot">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
           </div>
            <div>
                <i class="fa-solid fa-user-shield icon-foot"></i>
                <h3 class="desc"><strong> Seguridad, de principio a fin</strong></h3>
                <p class="foot">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>    
        </section>
        
        <div>
             <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>

       

    </footer>
</body>

</html>