<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="bg-gris">
    <header class="pageheader">
        <h1 class="w-45">
            <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        </h1>
        <div class="box-search">
            <form action="/" class="form-search">
                <input class="input-search" type="text" name="search"
                    placeholder="Buscá productos por nombre, marcas o palabras clave" />
                <button type="submit" class="button-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <p class="header-p-i">
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
            tarjeta de crédito
        </p>

        <nav class="display">
            <div>
                <ul class="padding display lista">
                    <li><a href="#" class="nav-li">Ofertas</a></li>
                    <li><a href="#" class="nav-li">Tiendas Oficiales</a></li>
                    <li><a href="#" class="nav-li">Vender</a></li>
                    <li><a href="#" class="nav-li">Ayuda</a></li>
                    <li><a href="#" class="nav-li">Ofertas</a></li>
                </ul>
            </div>

            <div class="end">
                <ul class="padding display lista">
                    <li><a href="/register" class="nav-li">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a>
                    </li>
                    <li><a href="#" class="nav-li">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#" class="nav-li">Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>

        </nav>

        <div class="div-burger-menu">
            <i class="fa-solid fa-bars burguer-menu"></i>
        </div>

    </header>

    <main class="main-registro">
        <div class="div-registro">
            <form action="registro" class="form-registro">
                <h1 class="titulo-registro">Login</h1>
                
                <div class="div-input"><input required type="text" name="usuario" size="40" placeholder="Nombre de usuaario" class="input heigth login i-v"><span class="feedback"></span></div>
                    <input  type="password" name="contraseña" id="" placeholder="Contraseña" class="input heigth-l contraseña i-v">
                
                <div class="div-input">
                    <a href="#" class="btn-registro link">Enviar</a>
                    <input type="reset" value="Borrar" class="btn-registro">
                </div>

            </form>
        </div>


    </main>


    <footer class="padding ">
        <section class="flex">
            <div>
                <i class="fa-solid fa-credit-card icon-foot"></i>
                <h3 class="desc"><strong> Pagá con tarjeta o en efectivo</strong></h3>
                <p class="foot">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fa-solid fa-gift icon-foot"></i>
                <h3 class="desc"><strong> Envío gratis desde $ 2.500</strong></h3>
                <p class="foot">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield icon-foot"></i>
                <h3 class="desc"><strong> Seguridad, de principio a fin</strong></h3>
                <p class="foot">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>

        <div>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>



    </footer>
</body>

</html>