/* Body */
body {
    font-family: "Roboto";
  }
  .bg-gris {
    background-color: #ebebeb;
  }

  /* Logo Mercado Liebre */
.pageheader {
    background-color: #EAC926;
width: 100%;
justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding: 8px;
}

.logo-header{
    width: 50%;
}

/* Banner */
.banner {
    width: 100%;

}
/* buscador */
.box-search{
  justify-content: end;
    align-self: center;
    display: flex;
}

  .input-search {
    padding: 8px;
    border: none;
    width: 100%;

  }
  .button-search{
    background-color: white;
    border: none;
    padding: 8px;
  }

  /*compra en cuotas margin-top: 10px;
    margin-bottom: 10px;*/
.header-p-i{
    text-align: center;
    
    width: 100%;
}

/* nav */
.padding-nav{
    padding-top:8px;
    padding-bottom:8px ;}

.nav-li{
    text-decoration: none;
    color: inherit;
    font-size: 10px;
}
.display{
    display: flex;
}
.whidth98{
    width: 98%;
}
.lista{
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.end{
    justify-content: end;
}
/*logo menu*/

.div-burger-menu {
    text-align: center;
    width: 100%;
}
.burguer-menu{ 
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

/* main */

.main {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    padding: 8px;
  }

.main-section{
   flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Titulares */

.titulares {
    font-size: 24px;
    width: 100%;
}


/* img productos */
.img-prod{
    width: 100%;
  background-color: #ebebeb;
}


/* div de los productos */
.article-block{
    border-color: #ebebeb;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
   display: flex;
   flex-wrap: wrap;
   position: relative;
   margin-top: -4px;
   justify-content: space-between;
   
}


/* Cada producto */

.precio {
    font-size: 17px;
    text-align: center;
   flex-grow: 0.3;
}

.off {
    font-size: 13px;
    color: #39b54a;
flex-grow: 0.1;
    
}
.logoenvio{
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
}
.fa-truck{
    display: block;
    font-size: 15px;
    background-color: #fff;
}

.w-100 {
    width: 100%;
}




.product-shadow{
   background-color: #fff;
   margin-top: 10px;
   width: 100%;
}
.desc {
    font-size: 16px;
    text-align: center;
}

/* Footer */

.foot {
    font-size: 12px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    
}

.copy {
    font-size: 12px;
    padding-top: 30px;
    text-align: center;
}

.icon-foot {
    font-size: 2em;
    margin-bottom: 10px;

    margin-left: 45%;
    color: #1259c3;
}
.p1{
    padding:8px;
}

.flex{
    display: flex;
}


.padding {
    padding-top: 15px;
}
/* Registro */

.main-registro{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}
.div-registro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-registro{
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgb(92 99 105 / 82%);
    text-align: -webkit-center
  }
  .contraseña{
    height: 30px;
    margin-bottom: 10px;
  }
  .foto-usuario{
    height: 100%;
    margin-bottom: 10px;
  }
  
  .titulo-registro {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .div-input {
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
  .input {
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
  }
  .heigth{
    height: 100%;
  }
  .btn-registro {
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    display: inline-flex;
  }
  .link{
    text-decoration: none;
  }
  
  .btn-registro:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }  

  /* Login */
  .login{
    width: 200px;
  }

  .heigth-l{
    height: 40px;
  }
  .feedback{
    background-color: #9867C5;
  }
  

@media (min-width:481px){
    /*Tablets*/
   .logo-header{
    width: 30%;
   }
      .display{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
      }
.box-search{
    width: 30%;
}
.header-p-i{
    width: 30%;
    align-self: center;
    font-size: 12px;
}
.product-shadow{
    width: 40%;
    transition: all, 0,75s;
}

.product-shadow:hover .fa-truck{
    animation:truck 0.5s 1;
}

.product-shadow:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

@keyframes truck {
    0%{
        transform: rotateZ('360deg');
    }
    
}

.product-shadow:hover .description{
    display: block;
    animation: description 0.75s 1;
}

.description{display: none;
width: 100%;}

@keyframes description {
    0%{
        opacity: 0%;
    }
    25%{
        transform: translateY(-5px);
        opacity: 100%;
    }
    
}

}
@media (max-width:480px){
    .display{
        display: none;
    }
}

@media (min-width:769px){
       /*laptop*/ 
       .product-shadow{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
       }

       .description{
        display: none/block;
       }
     
       
}

@media (min-width:1281px){
        /*deskopt*/

}